<h1>Blood Glucose Level History</h1>

<%= link_to 'Enter new blood glucose reading', new_reading_path, class: 'btn btn-success' %>

<table>
  <tr>
    <th>Glucose Level (mg/dL)</th>
    <th>Date Created</th>
  </tr>
   
  <% @readings.each do |reading| %>
    <tr>
      <td><%= reading.glucose_level %></td>
      <td><%= reading.created_at.strftime("%A, %B %d, %Y") %></td>
    </tr>
  <% end %>
</table>
