// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart {
  width: 100%;
  height: 400px;
  padding: 1em;
}

.reports {
  padding-right: 5em !important;
}