<br/>
<h4>Readings</h4>
<table>
  <tr>
    <th>Glucose Level (mg/dL)</th>
    <th>Date Created</th>
  </tr>
  <% @report.readings_subset.each do |reading| %>
    <tr>
      <td><%= reading.glucose_level %></td>
      <td><%= reading.created_at.strftime("%A, %B %d, %Y") %></td>
    </tr>
  <% end %>
</table>